@model DNA.Application.ViewModels.CategoriaViewModel

@{
    ViewData["Title"] = "Deletar Categoria";

}
<h2>@ViewData["Title"]</h2>

<form asp-action="Delete">
    <vc:summary />

    <h3>Você deseja realmente excluir o @Model.Nome?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model =>model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-info">Voltar para a lista</a>
        </div>
    </div>
</form>
